@keyframes wake {
		to { background-position: -1536px; }
	}

@keyframes sleep {
	to { background-position: -256px; }
}
	
		.wake {
			height: 128px;
			width: 128px; 
			animation: wake 2s steps(12) 1;
			background-image:url('./assets/gfx/wake/sheet.png')

		}	

		.sleep {
			height:	128px;
			width: 128px;
			animation: sleep 2s steps(2) infinite;
			background-image: url('./assets/gfx/sleep/sleepsheet.png');
		}
