@font-face {font-family: NDS; src:url('../../_assets/fnt/nds-true-bios.ttf');}
	p {
		font-family: NDS;
		font-size: 16px;
		vertical-align: center;
		margin-top:16px;
		margin-left: 16px;
	}
	html {
		display: table;
		margin: auto;
	}
	body {
		display:table-cell;
		vertical-align: center;
		margin-top: 300px;
		background-image: url('../../_assets/gfx/grid.gif');
	}

		#frame {
		position: relative;
		margin-top: 2%;
		border-style: ridge;
		border-radius: 5px;
		width: 250px;
		height: 40px;
		box-shadow: 2px 2px slategrey;
		border-color:  lightgrey dimgrey dimgrey lightgrey;
		background-color: ghostwhite;
	}

	input {
		padding: 10px;
		display:table-cell;
		vertical-align: center;
			margin: auto;
	}

	#sprite {
		display: table;
		margin: auto;
		margin-top: 50px;
	}