	@font-face {font-family: mono; src:	url('./assets/fnt/mono.ttf');}
		p {
			font-family: mono;
			font-size: 12px;
		}

		a {
			font-family: mono;
			color:black;
			margin: left;
		}

		body {
			background-color: azure;
		}
		object {
			display: table;
			margin: auto;
